<nav class="navbar navbar-expand-lg bg-body-tertiary">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">Shop</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<% function addActive(menuItem, activeMenuItem) { return menuItem === activeMenuItem ? ' active' : ''; } %>
				<li class="nav-item">
					<a class="nav-link<%- addActive('home', activeMenuItem) -%>" aria-current="page" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link<%- addActive('orders', activeMenuItem) -%>" href="/orders">Orders</a>
				</li>
				<% if (typeof show_labels !== 'undefined' && show_labels) { %>
				<li class="nav-item">
					<a class="nav-link<%- addActive('labels', activeMenuItem) -%>" href="/labels">Labels</a>
				</li>
				<% } %>
				<% if (typeof show_users !== 'undefined' && show_users) { %>
				<li class="nav-item">
					<a class="nav-link<%- addActive('users', activeMenuItem) -%>" href="/users">Users</a>
				</li>
				<% } %>
				<!--
				<li class="nav-item">
					<a class="nav-link disabled" aria-disabled="true">Disabled</a>
				</li>
				-->
			</ul>
		</div>
	</div>
</nav>
